
@{
    ViewBag.Title = "CreateSubject";
}

<h2>Create Subject</h2>

<form method="post" action="">
    <table>
        <tr><td><p>Enter subject name :</p></td><td><input type="text" name="SubjectName" /> </td></tr>
        <tr><td><input type="submit" value="Submit" /> </td><td></td></tr>
    </table>
</form>