
@{
    ViewBag.Title = "DeleteStudent";
}

<h2>Delete Student</h2>

<form method="post" action="">
    <table>
        <tr>
            <td><p>Select student to delete :</p></td>
            <td>
                <select name="StudentId">

                    @foreach (var cr in ViewBag.AllStudents)

                    {
                        <option value="@cr.StudentId">@cr.FirstName @cr.LastName</option>
                    }
                </select>
            </td>
        </tr>
        <tr><td><input type="submit" value="Submit" /> </td><td></td></tr>
    </table>
</form>